<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Scraper</title>
</head>
<body>
    <div class="container">
        <div class="products">
            {% for product in products %}
                <div class="products_item">
                    <div class="product__image">
                        <a href="/{{ product.category }}/{{ product.key }}" class="product__link">
                            <img height="225" width="170" src="{{product.img_url}}">
                        </a>
                    </div>
                    <div class="product__info">
                        <a href="/{{ product.category }}/{{ product.key }}" class="product__link">
                            <p class="product__name">{{ product.name }}</p>
                        </a>
                        <p class="product__description">{{ product.description }}</p>
                        <p class="product__price">от {{ product.current_price.price_min }} руб.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>