<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ product.full_name }}</title>
</head>
<body>
<div class="wrapper">
    <div class="container product_container">
        <h1 class="product_caption">{{ product.full_name }}</h1>
        <div class="product_block">
            <div class="product_image">
                <div class="image" style="background-image: url({{ product.img_url }})"></div>
            </div>
            <div class="product_description">
                <p class="full_description">{{ product.description}}</p>
                <a href="{{ product.html_url }}" class="real_url">Ссылка на товар</a>
                <div class="product__price">
                    {{ product.current_price.price_min }} – {{ product.current_price.price_max}} руб.
                </div>
            </div>
        </div>
        {% if product.price|length > 1 %}
        <div class="price_chart" id="price_chart"></div>
        {% endif %}
        <table class="product_table">
            {% for title, rows in product.spec.items() %}
            <tr class="table_title">
                <td>{{ title }}</td>
            </tr>
            {% for key, value in rows.items() %}
            <tr class="table_row">
                <td class="table_col">{{ key }}</td>
                <td class="table_col">
                    {% if value == True %}
                    <i class="fas fa-check fas_green"></i>
                    {% elif value == False %}
                    <i class="fas fa-times fas_red"></i>
                    {% else %}
                    <div>{{ value }}</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
    {% if product.price|length > 1 %}
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Дата', 'Минимальная', 'Максимальная', 'Средняя', 'Медианная'],
                    {% for date, price in product.price.items() %}
                        [new Date({{ date.replace('-', ', ') }}), {{ price.price_min }}, {{ price.price_max }},
                        {{ price.price_average }}, {{ price.price_median }}],
                    {% endfor %}
                ]);

                var options = {
                  title: 'График изменения цен',
                  curveType: 'function',
                  legend: { position: 'bottom' },
                  hAxis: {
                    format: 'd.M.yy',
                    gridlines: {count: 15}
                  },
                  pointSize: 10
                };

                var chart = new google.visualization.LineChart(document.getElementById('price_chart'));

                chart.draw(data, options);
            }
        </script>
    {% endif %}
</body>
</html>