<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ product.name }}</title>
</head>
<body>
    <div class="container">
        <div class="product_block">
            <div class="product_image">
                <img height="225" width="170" src="{{product.img_url}}" class="product_image__image">
            </div>
            <div class="product_description">
                <p class="full_description">{{ product.description}}</p>
                <div class="product__price">
                    {{ product.current_price.price_min }} – {{ product.current_price.price_max}}
                </div>
            </div>
        </div>
        <table class="product_table">
         {% for title, rows in product.spec.items() %}
              <tr class="table_title">
                  <td>{{ title }}</td>
              </tr>
             {% for key, value in rows.items() %}
                 <tr class="table_row">
                     <td class="table_col">{{ key }}</td>
                     <td class="table_col">
                         <div>{{ value }}</div>
                     </td>
                 </tr>
             {% endfor %}
         {% endfor %}
        </table>
    </div>
</body>
</html>